
   
    <header class="header" id="inicio">
        <!--<img class="hamburguer" src="./assets/images/White and Blue Pet House Logo Design.png" alt="">
        <nav class="menu-navegacion">
                <a href="#inicio">Inicio</a>
                <a href="#servicio">Nosotros</a>
                <a href="#galeria">Planes</a>
                <a href="#expertos">Sedes</a>
                <a href="registro.html">Registro</a>
                <a href="#login">Login</a>
                <a href="administrador.html">Administrador </a>
                <a href="#footer">Contacto</a>
        </nav>-->
        <div class="contenedor head">
            <h1 class="titulo">MASCOTA FELIZ</h1>
            <p class="copy"> Sabemos que tu mascota es parte fundamental de tu familia y de la nuestra también.</p>
        </div>
        
    </header>
    <main>
        <!--<section class="inicio" id="inicio">
            <img src="/assets/images/purinaperrosygatospuedenseramigos.webp" alt="">
        </section>-->
        <section class="services contenedor" id="servicio">
            <h2 class="subtitulo">Nosotros</h2>
            <div class="contenedor-servicio">
                <img src="../assets/images/5cosasqueteharanfeliz2.jpg" alt="">
                <div class="checklist-servicio">
                    <div class="service">
                        <h3 class="n-service"><span class="number">1</span>Visión</h3>
                        <p> Muchas veces nos olvidamos de que compartimos este mundo con otros seres, seres que también tienen necesidades y nos acompañan en nuestra cotidianeidad. Los consideramos inferiores pero tienen mucho que enseñarnos, y tal vez mediante estas frases sobre animales podamos entenderlos mejor..</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">2</span>Misión</h3>
                        <p> Estoy a favor del derecho de los animales, al igual que del derecho de los humanos. Ese es el camino de un ser humano completo (Abraham Lincoln).</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="gallery" id="galeria">
            <div class="contenedor">
                <h2 class="titulo">Planes</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="./assets/images/entre amigos.png" alt="">
                        <div class="hover-galeria">
                            <img src="./assets/images/WhatsApp Image 2022-11-13 at 1.06.35 PM.jpeg" alt="">
                            <p>Seleccionar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="./assets/images/Standard.png" alt="">
                        <div class="hover-galeria">
                            <img src="./assets/images/WhatsApp Image 2022-11-13 at 1.06.35 PM.jpeg" alt="">
                            <p>Seleccionar</p>
                        </div>
                    
                    </div>
                </div>
            </div>
        </section>
        <div class="imagen-light">
            <img src="./assets/images/close.svg" alt="" class="close">
            <img src="" alt="" class="agregar-imagen">
        </div>
        <section class="contenedor" id="expertos">
            <h2 class="subtitulo">Sedes</h2>
            <section class="experts">
                <div class="cont-expert">
                    <img src="./assets/images/BOG17.png" alt="">
                    <h3 class="n-expert">Bogota</h3>
                </div>
                <div class="cont-expert">
                    <img src="./assets/images/15480688341990061548069099noticianormal.jpg" alt="">
                    <h3 class="n-expert">Barranquilla</h3>
                </div>
                <div class="cont-expert">
                    <img src="./assets/images/descarga.jfif" alt="">
                    <h3 class="n-expert">Medellin</h3>
                </div>
            </section>
        </section>
        <section class="contenedor" id="contacto">
            <h2 class="subtitulo">Contacto</h2>
            <section class="contacto" >
                <div class="contact-us">
                    <form>

                        <div class="form-group"> <!-- Full Name -->
                            <label for=" name_id" class="control-label">Nombre</label>
                            <input type="text" class="form-control" id=" name_id" name="full_name" placeholder="John ">
                        </div>    
                    
                        <div class="form-group"> <!-- Street 1 -->
                            <label for="lastname_id" class="control-label">Apellido</label>
                            <input type="text" class="form-control" id="lastname_id" name="laname" placeholder="Deer">
                        </div>                    
                                                
                        <div class="form-group"> <!-- Email -->
                            <label for="emailo_id" class="control-label">Correo electrónico</label>
                            <input type="text" class="form-control" id="emailo_id" name="mailo" placeholder="Jhondeer@gmail.com.">
                        </div>    
                    
                        <div class="form-group"> <!-- Telefono-->
                            <label for="phone_id" class="control-label">Teléfono</label>
                            <input type="text" class="form-control" id="phone_id" name="phone" placeholder="+57123456789">
                        </div>                                    
                                                    
                        
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-8">
                                <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea>
                            </div>
                        </div>
                        <div class="form-group"> <!-- Submit Button -->
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div> 
                        
                    </form>
                   
                </div>
            </section>
        </section>
        
<!-- Login Form 
     <div class="logins" id="logins">
        <section class="Login contenedor" id="login">
            <h2 class="subtitulo">Log in</h2>
            <form role="form">
                <div class="form-group">
                  <label for="email">Correo electrónico:</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="pwd">Contraseña:</label>
                  <input type="password" class="form-control" id="pwd">
                </div>
                <div class="checkbox">
                  <label><input type="checkbox"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
          
        </section>
    </div>   
-->
    </main>

    
<!--    <script src="js/menu.js"></script>
    <script src="js/lightbox.js"></script>

    -->